.stripedtable {
    width: 78%;
    background-color: white;
    margin-left: 20%;
    padding: 20px;
}

.stripedtable__header {
    display: flex;
    justify-content: space-between;
}

.stripedtable__header > h4 {
    text-align: left;
    margin-bottom: 20px;
    color: #787878;
    font-size: 14px;
    font-weight: 400;
}

.stripedtable__header > .MuiSvgIcon-root {
    cursor: pointer;
}

.progress {
    height: 8px !important;
    width: 95%;
}

.MuiTableCell-head {
    font-weight: bold !important;
    cursor: pointer;
}

.MuiTableRow-root {
    height: 44px;
}

.MuiTableCell-root {
    padding: 8px !important;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}