.App {
    text-align: center;
    padding-top: 50px;
}

.app__main {
    margin-top: -50px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h6 {
    font-weight: 300;
    font-size: 14px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.form-control {
    background: transparent;
    border: 1px solid #C9CCD7;
    font-weight: 400;
    height: 30px;
    padding: 10px 20px;
}

.form-control:focus {
    outline: 1px solid #248AFD;
}

.btn-lg {
    border-radius: 3px;
    background-color: #248AFD;
    border-color: #248AFD;
    color: white;
    line-height: 10px;
    height: 40px;
    cursor: pointer;
}

.btn-lg:hover {
    background-color: #0F7FFC;
}